<!DOCTYPE html>
<html>
<head>
  <title>Rummager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag "materialize.min.css" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <%= javascript_include_tag "materialize.min.js" %>

  <%= csrf_meta_tags %>

</head>
<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue z-depth-2">
          <a href="#!" class="brand-logo">Rummager</a>
          <div class="right">
            <a href="#!">logout</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <%= yield %>
  </main>
  
  <footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Rummager</h5>
        <p class="grey-text text-lighten-4">A Rails app by Brandt Newton.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6 class="white-text">Resources</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">MaterializeCSS Frontend Framework</a></li>
          <li><a class="grey-text text-lighten-3" href="https://design.google.com/icons/">Material Icons</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-1">
    <div class="container">
    Created April 2016
    <a class="grey-text text-lighten-4 right" href="http://brandtnewton.com">brandtnewton.com</a>
    </div>
  </div>
</footer>
</body>
</html>
